@model IEnumerable<Practical_1_May_12.Models.ShelfsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelfName)
        </th>

        <th>
            Products
        </th>

    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ShelfName)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }, null) |
        @Html.ActionLink("Details", "Details", new { id = item.id }, null) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id }, null)
    </td>
</tr>
}

</table>
